<div th:fragment="footer">
    <div class="container text-center text-md-left">

        <div class="row">

            <div class="col-sm-3">

                <h4>សេវាកម្មវីដេអូបង្រៀន</h4>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">វីឌីអូបង្រៀន</a>
                    </li>
                    <li>
                        <a href="#!">ឯកសារ</a>
                    </li>
                    <li>
                        <a href="#!">វេទិការ</a>
                    </li>
                    <li>
                        <a href="#!">ព័ត៌មាន</a>
                    </li>
                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-sm-2">

                <h4>បណ្តាញសង្គម</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">Google</a>
                    </li>
                    <li>
                        <a href="#!">Youtube</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">

                <h4>Download Mobile App</h4>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><img src="img/appstore.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#!"> <img src="img/googleplay.png#ccd0db" alt=""> </a>
                    </li>
                </ul>
                <h4>Developer</h4>
                <ul class="list-unstyled">
                    <li><span>Email: khmeracademy.org@gmail.com</span></li>
                    <li class="privacy"><a href="#">Privacy</a></li>
                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-sm-4">

                <h4>ស្វែងរកតាមបណ្តាញសង្គមFacebook</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="fb-page" data-href="https://www.facebook.com/KhmerAcademy.Org/" data-tabs=""
                             data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
                             data-hide-cover="false" data-show-facepile="true">
                            <iframe name="f351c7e33df178" width="1000px" height="1000px" frameborder="0"
                                    allowtransparency="true" allowfullscreen="true" scrolling="no"
                                    allow="encrypted-media" title="fb:like_box Facebook Social Plugin"
                                    src="https://www.facebook.com/v2.6/plugins/like_box.php?app_id=157712197964057&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df3aa9660e7ba9e%26domain%3Dwww.khmeracademy.org%26origin%3Dhttps%253A%252F%252Fwww.khmeracademy.org%252Ff215d8157debc8c%26relation%3Dparent.parent&amp;color_scheme=dark&amp;container_width=263&amp;header=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FKhmerAcademy.Org&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false"
                                    style="border: none; visibility: visible; width: 300px; height: 214px;"
                                    __idm_frm__="48" class=""></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright</div>
</div>
