<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!--Call fragment-->
    <th:block th:replace="fragment/style"></th:block>
</head>
<body>
<div class="container-fluid" style=" padding-right: 0; padding-left: 0;">
    <!--Navbar -->
    <div th:replace="fragment/navbar :: navbar"></div>
    <!--/.Navbar -->
    <form action="/update/ready" th:method="post" th:object="${article}" enctype="multipart/form-data">
        <div class="row  mt-3">
            <div class="col col-lg-8 offset-2">
                <div class="card">
                    <div class="card-header">
                        <head class="card-title d-flex justify-content-center" th:text="#{st.add.article_mgt}">Article Management</head>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="" th:text="#{st.id}">ID</label>
                            <input type="text" class="form-control" readonly="readonly" th:field="${article.id}">
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{st.title}">Title</label>
                            <input type="text" class="form-control" th:field="${article.title}">
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{st.author}">Author</label>
                            <input type="text" class="form-control" th:field="${article.author}">
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{st.category}">Category</label>
                            <!--<input type="text" class="form-control" th:field="${article.category}">-->
                            <select style="width: 100%; line-height: 1.5; color: #495057;background-color: #fff;transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;padding: .375rem .75rem;border: 1px solid #ced4da;border-radius: .25rem;">
                                <option value="">Select One</option>
                                <option value="Roman">Romantic</option>
                                <option value="Love">Love the air</option>
                                <option value="Story">Ok You win</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{st.des}">Description</label>
                            <input type="text" class="form-control" th:field="${article.description}">
                        </div>
                        <p th:text="#{st.thumbnail}">Thumbnail</p>
                        <div class="custom-file">
                            <input type="file" name="file" id="selector" class="custom-file-label" accept="image/*">
                            <label class="custom-file-label" for="selector">Chose Picture</label>
                        </div>
                        <div class="container" style="text-align: center;">
                            <img id="img-preview" width="600px" th:src="'/img/' + ${article.image}" >
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary" th:text="#{st.add.btnAdd}">ADD</button>
                        <a th:href="@{/}" class="btn btn-sm btn-danger" th:text="#{st.add.btnBack}">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<th:block th:replace="fragment/script"></th:block>
<script>
    $(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-preview').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#selector").change(function () {
            readURL(this);
        });
    });
</script>
</body>
</html>